{% extends 'base.html' %}
{% load static %}

{% block content %}
  <body>
    <header class="header">
      <div class="container">
        <div class="header-content">
          <div class="header-logo">
            <div class="header-logo__img"><a href="#"><img src="{% static 'img/svg/logo-header.svg' %}"/></a></div>
          </div>
          <div class="header-nav__content">
            <div class="navigation">
              <ul class="nav">
                <div class="nav-group">
                  <li class="nav-link active"><a href="{% url 'about' %}">О нас</a></li>
                  <li class="nav-link"><a href="{% url 'product' %}">Продукция</a></li>
                  <li class="nav-link"><a href="{% url 'publication' %}">Публикации</a></li>
                </div>
                <div class="nav-group">
                  <li class="nav-link"><a href="{% url 'recipes' %}">Рецепты</a></li>
                </div>
              </ul>
            </div>
            <div class="header-language">
              <div class="network-link">
                <a href="{{ social_media.instagram_list }}"><img src="{% static 'img/svg/instagram-icon.svg' %}"/></a>
                <a href="{{ social_media.facebook_list }}"><img src="{% static 'img/svg/facebook-icon.svg' %}"/></a>
                <a href="{{ social_media.phone_number }}"><img src="{% static 'img/svg/whatsapp-icon.svg' %}"/></a>
              </div>
              <div class="language-link">
                <a href="#"><img src="{% static 'img/svg/kg-icon.svg' %}"/></a>
                <a href="#"><img src="{% static 'img/svg/ru-icon.svg' %}"/></a>
                <a href="#"><img src="{% static 'img/svg/en-icon.svg' %}"/></a>
                <a href="#"><img src="{% static 'img/svg/kz-icon.svg' %}"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="product publications-inner-page">
      <div class="container">
        <div class="product__content">
          <div class="product-left">
            <h1>{{ publication.title }}</h1>
          </div>
          <div class="product-right">
            <div class="about-company-all">
              <div class="crumb"><a href="{% url 'home' %}">Главная</a><a href="{% url 'product' %}">Продукция</a><span> Колбасы</span></div></div>
              <div class="about-company__content">

                <div class="about-company">
                  <h2 class="h2"> </h2>
                  <h5 class="h5">{{ publication.created_date }}</h5>
                  <p>{{ publication.description }}</p>
                  <div class="about-company__img">
                    <div class="main-slider">
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <div class="publications-inner-img"><img src="{{ publication.image.url }}"/></div>
                          </div>
                        </div>
                        <div class="swiper-pagination"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </body>
{% endblock %}
